/**
 * common css
 */

body {
    margin: 0;padding: 10px;
    color: #000;
    background: #EEE;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

header,
div[role="main"] {
    background: #FFF;
    padding: 10px;
    margin: 0 0 10px;
}

header {
    overflow:hidden;
    margin:0;
    padding: 0 0 10px;
}

section {
    clear: both;
    margin: 0 0 40px;
    font-size:27px;

  &:last-child {margin-bottom: 0;}

  #station &:last-child {margin-bottom: 40px;}
}

h1 {
    position: relative;
    display: block;
    margin: 0;

    font-size: 43px;
    line-height: 1;
    font-weight: 300;
    /*border-bottom:1px solid #000;
    border-top:1px solid #000;*/
}
h1 span,
h1 strong {
	position:relative;z-index:2;
	display:inline-block;vertical-align:top;
}
h1 strong {font-weight: 300;}

h2 {
  margin: 0;padding: 0;
  font-size: 20px;
  font-weight: 300;
}

p {margin: 0 0 10px;}

/**
 * map
 */
#map {
    margin: 0 0 10px;
    height:200px;
    background: #EEE;
}

#map .loadingText {
    display: block;
    padding: 45px 10px 10px;
    font-size: 18px;
    text-align: center;
}

/**
 * address
 */
#address {font-size: 12px;}

#address img,
#address .locationSVG {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

#address span {
    display: inline-block;
    vertical-align: top;
    padding: 2px 0 0;
}

/**
 * refresh
 */
.refresh {float: right;}
.refresh svg {
    width: 20px;
    height: 20px;
}


/**
 * station
 * direction
 */

#directionsForm select {
    display: block;
    width: 100%;
    font-size: 25px;
}

.icalendar_list {
  text-align: right;
  margin: 0 50px 0 0;
}

.icalendar_list li {
    float: none;
    display: inline-block;
    vertical-align: top;

    padding: 0;
    border:0;

    width: auto;
    height: auto;

    background:none;

    a {
        color: #000;
    }
}

.icalendar_list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.icalendar_list span {display: none;}

.all .icalendar_list li {
  &:before {
    content: '•';
    display: inline-block;
    vertical-align: middle;

    margin: 0 0 0 7px;
  }

  &:first-child:before {
    display: none;
  }
}

/**
 * iCalendar
 */
.iCalendar .icalendar_list li {display: none;}
.iCalendar .icalendar_list li:first-child {display: block;}

/**
 * Google
 */
.Google .icalendar_list li {display: block;}
.Google .icalendar_list li:first-child,
.Google .icalendar_list li:last-child {display: none;}

/**
 * Outlook
 */
.Outlook .icalendar_list li {display: none;}
.Outlook .icalendar_list li:last-child {display: block;}

textarea {
    margin: 20px 0;
    clear: both;
    display: block;
    width: 100%;
}

/**
 * linkw
 */
#link {
/*  display: none;*/
  float: right;
}

#link a {
    display: block;
    overflow: hidden;
    width: 40px;height: 40px;
}

#link .svg {
    position: relative;
    left:0;
    top:0;
    height:40px;
    width: 31px;
}

#link.show {
    display: block;
}

/**
 * install
 */
.install {

  display: none;

  .iOS & {
    display: block;
  }


  border:1px solid #fff;
  padding: 15px 0;
  margin-bottom: 0px;

  background: #444;
  color: #FFF;
  text-align: center;
  text-decoration: none;

  font-size:20px;

  &:active,
  &:hover {
    color: #FFF;
  }
}


/**
 * large screens
 */
@media screen and (min-width: 800px) {

	div[role="main"] {
		width:600px;
		margin-left:auto;
		margin-right:auto;	
	}

}
