<header>
    <h1><span>dernier</span><strong>metro</strong></h1>
</header>
<!--<div role="main">-->
<div>
    <section>
        <!--<p><strong>Localisation</strong></p>-->
        <div id="map">
            <span class="loadingText">Geolocalisation en cours...</span>
        </div>
        <div id="address"></div>
    </section>

    <div id="station"></div>

    <section class="<%= type %>">
        <div id="link"></div>
        <div id="basicICal"></div>

        <h2>partez à</h2>
        <div id="time"></div>
        <h2>pour attraper le dernier métro</h2>
    </section>

    <section>
        <h2>dernier passage du métro à</h2>
        <div id="last"></div>
    </section>

    <section>
        <h2>environ</h2>
        <!--<p>Calcul du <strong>temps de marche</strong> jusqu'à la station</p>-->
        <div id="walk"></div>
        <h2>de marche jusqu'à la station</h2>
    </section>
</div>